.rect1{
  margin-top:40px;
  margin-left:50px;
  width:310px;
  height:125px;
  background:#73a2ba;
  opacity:0.4
}
.rect2{
  margin-top:-110px;
  margin-left:250px;
  width:210px;
  height:125px;
  background:#ffc8d9;
  opacity: 0.5
}
.rect3{
  margin-top:-20px;
  margin-left:25px;
  width:220px;
  height:75px;
  padding:30px;
  border:5px solid #73a2ba;
  border-radius:10px;
  font-size:1.1em;
  color:#0160a3
}
.frame{
  margin-top:-155px;
  margin-left:80px;
  width:270px;
  height:205px;
  padding:10px;
  border-radius:10px;
  border:5px solid #da7b86;  
  font-family:arial; 
}