:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-primary-rgb: 13, 110, 253;
	--bs-secondary-rgb: 108, 117, 125;
	--bs-success-rgb: 25, 135, 84;
	--bs-info-rgb: 13, 202, 240;
	--bs-warning-rgb: 255, 193, 7;
	--bs-danger-rgb: 220, 53, 69;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 33, 37, 41;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #212529;
	--bs-body-bg: #fff
}

.panelContainer {
	margin: auto;
	width: 80%;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

.panelContainer hr {
	margin: 1rem 0;
	color: inherit;
	background-color: currentColor;
	border: 0;
	opacity: .25
}

   .panelContainer hr:not([size]) {
		height: 1px
	}


.panelContainer.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y)*-1);
	margin-right: calc(var(--bs-gutter-x)*-0.5);
	margin-left: calc(var(--bs-gutter-x)*-0.5)
}

	.row > .pt-3 {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y)
	}

.col {
	flex: 1 0 0%
}
.text-wrap {
	white-space: normal !important
}

.text-nowrap {
	white-space: nowrap !important
}

.text-break {
	word-wrap: break-word !important;
	word-break: break-word !important
}

.text-primary {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important
}

.text-secondary {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important
}

.text-success {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important
}

.text-info {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important
}

.text-warning {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important
}

.text-danger {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important
}

.text-light {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important
}

.text-dark {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important
}

.text-black {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important
}

.text-white {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important
}

.text-body {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important
}

.text-muted {
	--bs-text-opacity: 1;
	color: #6c757d !important
}

.text-black-50 {
	--bs-text-opacity: 1;
	color: rgba(0,0,0,.5) !important
}

.text-white-50 {
	--bs-text-opacity: 1;
	color: rgba(255,255,255,.5) !important
}

.text-reset {
	--bs-text-opacity: 1;
	color: inherit !important
}

.text-opacity-25 {
	--bs-text-opacity: 0.25
}

.text-opacity-50 {
	--bs-text-opacity: 0.5
}

.text-opacity-75 {
	--bs-text-opacity: 0.75
}

.text-opacity-100 {
	--bs-text-opacity: 1
}

.bg-primary {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important
}

.bg-secondary {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important
}

.bg-success {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important
}

.bg-info {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important
}

.bg-warning {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important
}

.bg-danger {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important
}

.bg-light {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important
}

.bg-dark {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important
}

.bg-black {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important
}

.bg-white {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important
}

.bg-body {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important
}

.bg-transparent {
	--bs-bg-opacity: 1;
	background-color: transparent !important
}

.bg-opacity-10 {
	--bs-bg-opacity: 0.1
}

.bg-opacity-25 {
	--bs-bg-opacity: 0.25
}

.bg-opacity-50 {
	--bs-bg-opacity: 0.5
}

.bg-opacity-75 {
	--bs-bg-opacity: 0.75
}

.bg-opacity-100 {
	--bs-bg-opacity: 1
}

.bg-gradient {
	background-image: var(--bs-gradient) !important
}

.user-select-all {
	user-select: all !important
}

.user-select-auto {
	user-select: auto !important
}

.user-select-none {
	user-select: none !important
}

.pe-none {
	pointer-events: none !important
}

.pe-auto {
	pointer-events: auto !important
}

.rounded {
	border-radius: .25rem !important
}

.rounded-0 {
	border-radius: 0 !important
}

.rounded-1 {
	border-radius: .2rem !important
}

.rounded-2 {
	border-radius: .25rem !important
}

.rounded-3 {
	border-radius: .3rem !important
}

.rounded-circle {
	border-radius: 50% !important
}

.rounded-pill {
	border-radius: 50rem !important
}

.rounded-top {
	border-top-left-radius: .25rem !important;
	border-top-right-radius: .25rem !important
}

.rounded-end {
	border-top-right-radius: .25rem !important;
	border-bottom-right-radius: .25rem !important
}

.rounded-bottom {
	border-bottom-right-radius: .25rem !important;
	border-bottom-left-radius: .25rem !important
}

.rounded-start {
	border-bottom-left-radius: .25rem !important;
	border-top-left-radius: .25rem !important
}

.visible {
	visibility: visible !important
}

.invisible {
	visibility: hidden !important
}

.alert-danger {
	background-color: #f30 !important
}

#alertMessage {
	font-size: 20px;
	font-weight: 200;
	color: #fff;
	margin-top: 10px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	display: none;
}

	#alertMessage a {
		color: #fff;
		text-decoration: underline !important;
		font-weight: bold
	}

.alert {
	position: relative;
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem
}

#maintenanceMessage {
	margin: 15px 0
}

	#maintenanceMessage a {
		color: #06d6a0;
		text-decoration: underline !important
	}

		#maintenanceMessage a:hover, #maintenanceMessage a:visited {
			color: #06d6a0;
			text-decoration: underline !important
		}

.content {
	max-width: 1140px;
	margin-right: auto !important;
	margin-left: auto !important;
	direction: ltr
}

	.content .textContent {
		padding-left: 16px;
		padding-right: 16px
	}

	.content ul {
		margin-left: 40px
	}

.actionButton {
	height: 45px;
	width: 200px;
	background: #8fd14f;
	color: #fff;
	padding: 10px 40px;
	font-size: 16px;
	font-weight: 400;
	outline: 0 !important;
	border: 1px solid #5c5c5c !important;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	line-height: 1.42857143;
	user-select: none;
	text-decoration: none;
	transition: opacity .2s ease-in
}

	.actionButton:hover {
		opacity: .8;
		text-decoration: none;
		color: #fff
	}

.backgroundBlue {
	background: #2d9bf0
}

.colorBlue {
	color: #2d9bf0
}

.backgroundGrey {
	background: gray
}

.right {
	float: right
}

.btn-danger:hover {
	color: #fff !important;
	background: #c9302c !important;
	border-color: #ac2925 !important
}

.subscibe-rhs form button {
	display: inline-block;
	vertical-align: top;
	min-height: 45px
}

.loader {
	border-radius: 50%;
	border-top: 16px solid #f9ac47;
	border-right: 16px solid #e2d434;
	border-bottom: 16px solid #83b44f;
	border-left: 16px solid #6da5d5;
	width: 150px;
	height: 150px;
	-webkit-animation: spin 5s linear infinite;
	animation: spin 5s linear infinite
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg)
	}

	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.sendemail {
	display: table;
	margin: 0 auto
}

	.sendemail .bg-primary {
		background: #1a89d0;
		color: #fff
	}

#langModal a {
	text-decoration: none !important
}

	#langModal a:focus, #langModal a:visited, #langModal a:hover {
		text-decoration: none !important
	}

.langbox {
	margin: 10px 0
}

#otherAppsModal label {
	margin: 0 auto;
	font-size: 22px
}

#otherAppsModal .otherapps {
	padding: 0
}

	#otherAppsModal .otherapps .app-icon {
		position: relative
	}

		#otherAppsModal .otherapps .app-icon div {
			width: 60px;
			height: 60px
		}

			#otherAppsModal .otherapps .app-icon div::after {
				width: 60px;
				height: 60px;
				left: 35px !important
			}

		#otherAppsModal .otherapps .app-icon a span {
			font-size: 18px !important
		}

.productfamilyheader.minify-header.header1.header2 {
	padding-bottom: 30px
}

.productfamilyheader.minify-header img.totalimg {
	min-width: 220px !important;
	padding: 0 !important
}

.productfamilyheader.minify-header h1, .productfamilyheader.minify-header .h1 {
	font-size: 35px
}

.operationHeader {
	background: linear-gradient(90deg, #439cda 0%, #286baf 100%);
	margin-top: 0;
	color: #fff;
	padding-bottom: 45px;
	min-width: 100%;
	direction: ltr
}

	.operationHeader h2.pr-h2, .operationHeader .pr-h2.h2 {
		font-weight: 400 !important;
		text-shadow: none !important;
		line-height: 1.5 !important;
		margin: 25px 0 !important;
		color: #fafafa !important;
		font-size: 22px !important;
		text-align: left !important;
		display: block !important
	}

.aspose_product_img {
	position: relative;
	display: table;
	margin: 0 auto 25px;
	min-width: 200px;
	height: 220px
}

	.aspose_product_img img {
		width: 130px !important;
		height: 130px !important;
		max-height: 130px !important;
		max-width: 130px !important;
		position: absolute;
		right: 0;
		bottom: 0
	}

	.aspose_product_img div.conversiontag {
		background: #2a74a5 !important;
		width: 60px;
		height: 60px;
		font-size: 14px;
		border-radius: 100%;
		display: inline-block;
		line-height: 55px;
		border: 2px solid #fff;
		color: #fff;
		text-align: center;
		font-weight: 700;
		position: absolute;
		right: -20px;
		top: 65px;
		box-shadow: 0 5px 8px -5px #666
	}

.circleiconsformat {
	position: absolute;
	width: 180px;
	height: 180px;
	border: 1px dashed #ccc;
	border-radius: 100%;
	bottom: 0;
	right: 10px;
	display: flex;
	flex-flow: wrap;
	z-index: 0
}

.fileiconsmall {
	font-size: 8px;
	color: #439cda;
	font-style: normal;
	font-weight: 700;
	background: #fff;
	padding: 0 2px;
	margin: 0 50px;
	position: absolute;
	line-height: 10px
}

	.fileiconsmall:nth-child(1) {
		left: -7px
	}

	.fileiconsmall:nth-child(2) {
		left: 35%;
		top: 3%
	}

	.fileiconsmall:nth-child(3) {
		left: -55px;
		top: 25%
	}

	.fileiconsmall:nth-child(4) {
		left: -60px;
		top: 60%
	}

	.fileiconsmall:nth-child(5) {
		position: absolute;
		left: -25px;
		top: 90%
	}

	.fileiconsmall:before {
		content: "";
		position: absolute;
		top: -11px;
		left: 3px;
		width: 22px;
		height: 28px;
		border: 2px solid #fff;
		z-index: -1;
		border-top-right-radius: 8px;
		background: #439cda
	}

.pf-landing-page-com .pull-right {
	float: right !important
}

.csColor {
	background: #a4c547
}

.javaColor {
	background: #dd504f
}

.pythonColor {
	background: #fecd36
}

.cppColor {
	background: #0c5aa3
}

.otherPopularity {
	line-height: 26px;
	clear: both !important;
	background: #fff;
	border-bottom: 1px solid #eaeaea;
	border-top: 1px solid #eaeaea;
	margin-right: 0 !important;
	margin-left: 0 !important;
	color: #4c4c4c;
	text-align: left
}

	.otherPopularity .header {
		margin-top: 0 !important;
		margin-bottom: 30px !important;
		font-size: 34px;
		font-weight: 300;
		text-align: center;
		line-height: 1.1
	}

	.otherPopularity .text {
		text-align: center;
		font-size: 15px;
		margin-bottom: 70px
	}

	.otherPopularity .items .col-md-3:nth-child(4n+1) {
		clear: left
	}

	.otherPopularity .items .col-md-3 {
		font-size: 12px;
		margin-bottom: 20px;
		text-align: center
	}

	.otherPopularity .items .item a {
		outline: 0;
		text-decoration: none !important;
		font-weight: 700;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		color: #3d8ec4
	}

		.otherPopularity .items .item a:hover {
			color: #06d6a0;
			text-decoration: underline !important
		}

.selectOutputFormat {
	height: 45px;
	font-size: 16px;
	font-weight: 400;
	touch-action: manipulation;
	cursor: pointer;
	outline: 0 !important;
	width: 231px;
	background: #2d9bf0;
	text-decoration: none;
	color: #fff;
	text-align: center;
	border: 1px solid #5c5c5c !important;
	transition: opacity .2s ease-in
}

	.selectOutputFormat:hover {
		opacity: .8;
		text-decoration: none;
		color: #fff
	}

.parametersblock h3, .parametersblock .h3 {
	background: silver;
	font-size: 13px;
	font-weight: 700;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	margin: 0
}

.parametersBox {
	color: #f8f8f2 !important;
	background-color: #2b2b2b !important
}

.description {
	text-align: left;
	margin: auto;
	padding: 10px 10px 10px 20px
}

.action {
	text-align: right;
	margin: auto;
	padding: 10px 20px 10px 10px
}

.rowLine {
	border-top: 1px solid silver
}

.fileInput {
	opacity: 0;
	position: absolute;
	z-index: -1
}

.codeblock h3, .codeblock .h3 {
	background: silver;
	font-size: 13px;
	font-weight: 300;
	padding: 10px 10px 10px 10px;
	border-radius: 0 0 10px 10px;
	margin: 0
}

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: .6
}

.codeBox {
	color: #f8f8f2 !important;
	background-color: #f8f9fa !important;
	margin-bottom: 0 !important;
	font-size: 16px;
	line-height: initial
}

.clipboard {
	float: right;
	touch-action: manipulation;
	cursor: pointer
}

	.clipboard:hover {
		color: #468c02;
		fill: #468c02
	}

	.clipboard .bi-clipboard {
		width: 20px;
		height: 20px
	}

	.clipboard a {
		position: relative;
		user-select: none;
		text-decoration: none;
		color: #0f0f0f;
		touch-action: manipulation;
		cursor: pointer;
		font-weight: 700
	}

		.clipboard a:hover {
			color: #468c02
		}

.app-product-section {
	background: #fff;
	color: #292929
}

	.app-product-section.tl h2, .app-product-section.tl .h2, .app-product-section.tl h3, .app-product-section.tl .h3, .app-product-section.tl li {
		text-align: left
	}

	.app-product-section h3, .app-product-section .h3, .app-product-section.tl h2, .app-product-section.tl .h2 {
		font-size: 40px;
		font-weight: 500;
		margin: 0
	}

	.app-product-section a {
		text-decoration: underline !important;
		color: #292929 !important
	}

		.app-product-section a:hover, .app-product-section a:visited {
			text-decoration: underline !important;
			color: #292929 !important
		}

.contentRow {
	max-width: 1140px;
	display: grid
}

.lds-roller {
	display: none;
	position: relative;
	width: 150px;
	height: 80px;
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .highlight {
    border-radius: 0;
    border: 1px solid #c2c2c2;
  }

